<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
<div class="container">
    <div class="main-wrap">
        <div th:replace="fragments/header :: header"></div>
        <div class="window">
            <table class="table table-bordered table-hover horizontal-align">
                <thead>
                <tr>
                    <th style="width: 50px">Id</th>
                    <th style="width: 300px">Course</th>
                    <th style="width: 300px">Developer</th>
                    <th style="width: 140px">Button</th>
                </tr>
                </thead>
            </table>
            <form class="form-horizontal form-add-departments" th:object="${developer}"
                  th:action="@{/developers/update}" name="edit_form"
                  id="edit_form"
                  method="post" role="form">
                <div class="form-group">
                    <input class="form-control form-control_50px" type="text" id="id" th:value="*{id}"
                           th:name="id"/>
                    <select required th:name="course" id="select" class="form-control form-control_300px">
                        <option th:each="course : ${courses}"
                                th:value="${course.id}"
                                th:text="${course.title}">
                        </option>
                    </select>
                    <select required th:name="user" id="select" class="form-control form-control_300px">
                        <option th:each="user : ${users}"
                                th:value="${user.id}"
                                th:text="${user.name}">
                        </option>
                    </select>
                </div>
                <button onclick="dir" type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    <div class="footer" th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>