<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<div class="wrapper" th:fragment="institute">
    <form class="form-horizontal form-add-institutes" th:action="@{/institutes/new}" name="input_form" id="input_form"
          method="post" role="form">
        <a th:href="@{'/institutes/createExcel'}" class="add excel">
            <img src="../../../img/excel.jpg" alt="excel"/>
        </a>
        <div class="form-group">
            <input type="text" class="form-control form-control_300px" id="" th:name="title"
                   placeholder=" Название" maxlength="100"/>
        </div>
        <button type="submit" class="btn btn-primary">Добавить</button>
    </form>
    <table class="table table-institutes">
        <thead>
        <tr>
            <th style="width: 50px">№</th>
            <th style="width: 300px">Название</th>
            <th style="width: 80px">Изменить</th>
            <th style="width: 80px">Удалить</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="institute : ${institutes}">
            <td class="table-column" th:text="${instituteStat.count}"></td>
            <td class="table-column" th:text="${institute.title}"></td>
            <td class="table-column"><a th:href="@{'/institutes/edit/{id}'(id=${institute.id})}">
                <i class="fa fa-edit" style="font-size:20px"></i></a>
            </td>
            <td class="table-column"><a th:href="@{'/institutes/delete/{id}'(id=${institute.id})}">
                <i class="fa fa-trash" style="font-size:20px"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</html>