<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<div class="wrapper" th:fragment="institute">
    <form class="form-horizontal form-add-institutes" th:action="@{/institutes/new}" name="input_form" id="input_form"
          method="post" role="form">
        <a class="add">
            <i class="fa fa-plus" aria-hidden="true"></i>
        </a>
        <div class="form-group">
            <input type="text" class="form-control form-control_title" id="" th:name="title"
                   placeholder="Enter your title." maxlength="100"/>
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
    <table class="table table-bordered table-hover horizontal-align">
        <thead>
        <tr>
            <th style="width: 50px">№</th>
            <th style="width: 300px">Title</th>
            <th style="width: 70px">Edit</th>
            <th style="width: 70px">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="institute : ${institutes}">
            <td class="table-column" th:text="${instituteStat.count}"></td>
            <td class="table-column" th:text="${institute.title}"></td>
            <td class="table-column"><a th:href="@{'/institutes/edit/{id}'(id=${institute.id})}"><i class="fa fa-edit"
                                                                                                      style="font-size:20px"></i></a>
            </td>
            <td class="table-column"><a th:href="@{'/institutes/delete/{id}'(id=${institute.id})}"><i
                    class="fa fa-trash" style="font-size:20px"></i></a></td>
        </tr>
        </tbody>
    </table>
</div>
</html>