<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
<div class="container">
    <div class="main-wrap">
        <div th:replace="fragments/header :: header"></div>
        <div class="window">
            <table class="table table-bordered table-hover horizontal-align">
                <thead>
                <tr>
                    <th style="width: 50px">ИН</th>
                    <th style="width: 150px">Фамилия</th>
                    <th style="width: 150px">Имя</th>
                    <th style="width: 150px">Отчество</th>
                    <th style="width: 150px">Должность</th>
                    <th style="width: 150px">Кафедра</th>
                    <th style="width: 150px">Телефон</th>
                    <th style="width: 200px">Email</th>
                    <th style="width: 140px">Действие</th>
                </tr>
                </thead>
            </table>
            <form class="form-horizontal form-add-users" th:object="${user}"
                  th:action="@{/users/update}" name="edit_form"
                  id="edit_form"
                  method="post" role="form">
                <div class="form-group">
                    <input class="form-control form-control_50px" type="text" id="id" th:value="*{id}" th:name="id"/>
                    <input class="form-control form-control_149px" type="text" id="surname" th:value="*{surname}"
                           th:name="surname"/>
                    <input class="form-control form-control_149px" type="text" id="name" th:value="*{name}"
                           th:name="name"/>
                    <input class="form-control form-control_149px" type="text" id="name" th:value="*{secondname}"
                           th:name="secondname"/>
                    <select required th:name="position" id="select" class="form-control form-control_150px">
                        <optgroup label="Студенты">
                            <option>Бакалавр</option>
                            <option>Специалист</option>
                            <option>Магистр</option>
                            <option>Аспирант</option>
                        </optgroup>
                        <optgroup label="Преподаватели">
                            <option>Преподаватель</option>
                            <option>Ст. преподаватель</option>
                            <option>Доцент</option>
                            <option>Профессор</option>
                        </optgroup>
                    </select>
                    <select required th:name="department" id="select" class="form-control form-control_150px">
                        <option th:each="department : ${departments}"
                                th:value="${department.id}"
                                th:text="${department.title}">
                        </option>
                    </select>
                    <input class="form-control form-control_150px" type="text" id="name" th:value="*{phone}"
                           th:name="phone"/>
                    <input class="form-control form-control_200px" type="text" id="name" th:value="*{email}"
                           th:name="email"/>
                </div>
                <button onclick="dir" type="submit" class="btn btn-primary btn-add-user">Выполнить</button>
            </form>
        </div>
    </div>
    <div class="footer" th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>