<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<div class="wrapper" th:fragment="user">
    <form  class="form-horizontal form-add-users" th:action="@{/users/new}" name="input_form" id="input_form"
           method="post" role="form">
        <a th:href="@{'/users/createExcel'}" class="add excel">
            <img src="../../../img/excel.jpg" alt="excel"/>
        </a>
        <div class="form-group">
            <input class="form-control form-control_145px" type="text" id="surname" th:value="*{surname}"
                   th:name="surname" placeholder="  Фамиля"/>
            <input class="form-control form-control_145px" type="text" id="name" th:value="*{name}"
                   th:name="name" placeholder="  Имя"/>
            <input class="form-control form-control_145px" type="text" id="name" th:value="*{secondname}"
                   th:name="secondname" placeholder="  Отчество"/>
            <select required th:name="position" id="select" class="form-control form-control_145px">
                <optgroup label="Студенты">
                    <option>Бакалавр</option>
                    <option>Специалист</option>
                    <option>Магистр</option>
                    <option>Аспирант</option>
                </optgroup>
                <optgroup label="Преподаватели">
                    <option>Ассистент</option>
                    <option>Ст. преподаватель</option>
                    <option>Доцент</option>
                    <option>Профессор</option>
                </optgroup>
            </select>
            <select required th:name="department" id="select" class="form-control form-control_145px " placeholder="Enter your title.">
                <option th:each="department : ${departments}"
                        th:value="${department.id}"
                        th:text="${department.title}">
                </option>
            </select>
            <input class="form-control form-control_145px" type="text" id="name" th:value="*{phone}"
                   th:name="phone" placeholder="  Телефон"/>
            <input class="form-control form-control_170px" type="text" id="name" th:value="*{email}"
                   th:name="email" placeholder="  Email"/>
        </div>
        <button type="submit" class="btn btn-primary">Добавить</button>
    </form>
    <table class="table table-users">
        <thead>
        <tr>
            <th style="width: 50px">№</th>
            <th style="width: 150px">Фамилия</th>
            <th style="width: 150px">Имя</th>
            <th style="width: 150px">Отчество</th>
            <th style="width: 150px">Должность</th>
            <th style="width: 150px">Кафедра</th>
            <th style="width: 150px">Телефон</th>
            <th style="width: 200px">Email</th>
            <th style="width: 80px">Изменить</th>
            <th style="width: 80px">Удалить</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td class="table-column" th:text="${userStat.count}"></td>
            <td class="table-column" th:text="${user.surname}"></td>
            <td class="table-column" th:text="${user.name}"></td>
            <td class="table-column" th:text="${user.secondname}"></td>
            <td class="table-column" th:text="${user.position}"></td>
            <td class="table-column" th:text="${user.department.title}"></td>
            <td class="table-column" th:text="${user.phone}"></td>
            <td class="table-column" th:text="${user.email}"></td>
            <td class="table-column"><a th:href="@{'/users/edit/{id}'(id=${user.id})}"><i class="fa fa-edit"
                                                                                                      style="font-size:20px"></i></a>
            </td>
            <td class="table-column"><a th:href="@{'/users/delete/{id}'(id=${user.id})}"><i
                    class="fa fa-trash" style="font-size:20px"></i></a></td>
        </tr>
        </tbody>
    </table>
</div>
</html>