<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<div class="wrapper" th:fragment="department">
    <form  class="form-horizontal form-add-departments" th:action="@{/departments/new}" name="input_form" id="input_form"
          method="post" role="form">
        <a class="add">
            <i class="fa fa-plus" aria-hidden="true"></i>
        </a>
        <div class="form-group">
            <input type="text" class="form-control form-control_300px" th:name="title"
                   placeholder="Enter your title." maxlength="100"/>
            <select required th:name="institute" id="select" class="form-control form-control_300px">
                <option th:each="institute : ${institutes}"
                        th:value="${institute.id}"
                        th:text="${institute.title}">
                </option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
    <table class="table table-bordered table-hover horizontal-align">
        <thead>
        <tr>
            <th style="width: 50px">№</th>
            <th style="width: 300px">Title</th>
            <th style="width: 300px">Institute</th>
            <th style="width: 70px">Edit</th>
            <th style="width: 70px">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="department : ${departments}">
            <td class="table-column" th:text="${departmentStat.count}"></td>
            <td class="table-column" th:text="${department.title}"></td>
            <td class="table-column" th:text="${department.institute.title}"></td>
            <td class="table-column"><a th:href="@{'/departments/edit/{id}'(id=${department.id})}"><i class="fa fa-edit"
                                                                                                      style="font-size:20px"></i></a>
            </td>
            <td class="table-column"><a th:href="@{'/departments/delete/{id}'(id=${department.id})}"><i
                    class="fa fa-trash" style="font-size:20px"></i></a></td>
        </tr>
        </tbody>
    </table>
</div>
</html>