<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" media="screen"/>
</head>
<div class="footer" th:fragment="footer">
    <nav class="navbar-default navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-footer">
                <a class="navbar-brand">Система учёта дистанционных курсов</a>
                <a class="navbar-brand">Севастопольский государственный университет</a>
            </div>
        </div>
    </nav>
</div>
</html>