<!DOCTYPE html>
<html lang="eng"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" media="screen"/>
</head>
<div class="header" th:fragment="header">
    <div class="container">
        <div class="navbar-header">
            <a class="logo">
                <img src="../img/logo.png" alt="SevMoodle"/>
            </a>
            <h1 class="logo-title">SevMoodle</h1>
            <a class="menu-item" th:href="@{/directions}">Directions</a>
            <a class="menu-item" th:href="@{/departments}">Departments</a>
            <a class="menu-item" th:href="@{/institutes}">Institutes</a>
            <a class="menu-item">Teachers</a>
            <a class="menu-item">Courses</a>
        </div>
    </div>
</div>
</html>