@font-face {
    font-family: 'FuturaPT';
    src: url('../fonts/FuturaPT-Demi.woff');
    font-weight: 400;
}

html {
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: "FuturaPT", Arial;
    font-weight: 400;
}

.align-template {
    text-align: center;
}

.table {
    position: relative;
    margin: 0 auto;
}

.table-column {
    text-align: center;
}

table.horizontal-align th {
    text-align: center;
}

thead th {
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 2px;
    background-color: #0d495d;
    height: 30px;
    border-radius: 5px;
}

tbody td {
    border-radius: 5px;
}

tbody tr {
    height: 30px;
    background-color: #e5e0dd;
}

tbody tr:nth-child(2n) {
    background-color: #78c8cf;
}

.badge {
    padding: 1px 9px 2px;
    font-size: 12.025px;
    font-weight: bold;
    white-space: nowrap;
    color: #F8F8FF;
    background-color: #337ab7;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.container {
    position: relative;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    height: 80px;
    background: #129399;
    padding: 0 100px;
}

.navbar-header{
    display: flex;
    width: 800px;
    justify-content: flex-start;
    position: relative;
    margin: auto 0;
    align-items: center;
}

.navbar-header a {
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 14px;
    text-transform: uppercase;
    margin-right: 15px;
}

.logo{
    width: 60px;
    margin-right: 0;
}

.logo img{
    width: 100%;
}

.logo-title{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #f2b830;
    margin-right: 18px;
}

.menu-item {
    color: white;
}

.menu-item:hover {
    color: #f2b830;
}

.main-wrap {
    display: flex;
    position: relative;
    margin: 0;
    height: auto;
    flex-direction: column;
    justify-content: flex-start;
}

.wrapper {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 1300px;
    margin: 10px auto 50px;
}

.window {
    display: block;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 100px auto;
    padding: 20px;
    border: 2px solid #0d495d;
    background-color: #f7f9f0;
    width: auto;
    height: 100px;
    border-radius: 20px;
}

.form-horizontal {
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    margin: 20px auto 20px;
    flex-wrap: nowrap;
}

.form-add-directions{
    width: 710px;
}

.form-add-departments{
    width: 505px;
}

.add {
    display: flex;
    height: 100%;
    width: 52px;
    background-color: #129399;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.form-control_id {
    height: 100%;
    width: 50px;
    border-radius: 5px;
    border: none;
}

.form-control_cipher {
    height: 100%;
    width: 198px;
    border-radius: 5px;
    border: none;
}

.form-control_title {
    height: 100%;
    width: 298px;
    border-radius: 5px;
    border: none;
}

.btn-primary {
    position: relative;
    top: 0;
    transition: 0.3s;
    height: 100%;
    width: 146px;
    border-radius: 5px;
    border: none;
    background-color: #f2b830;
    cursor: pointer;
}

.btn-primary:hover {
    top: -4px;
}

.fa-edit, .fa-edit:hover, .fa-edit:active {
    color: #0d495d;
}

.fa-trash, .fa-trash:hover, .fa-trash:active {
    color: black;
}

.footer {
    display: flex;
    position: relative;
    align-items: center;
    height: 40px;
    margin-bottom: 0;
    background: #0d495d;
    padding: 0 100px;
    color: white;
    letter-spacing: 2px;
}

.navbar-footer{
    display: flex;
    justify-content: space-between;
}

.navbar-fixed-bottom{
    width: 100%;
}