<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
<div class="container">
    <div class="main-wrap">
        <div class="header" th:replace="fragments/header :: header"></div>
        <div class="wrapper">
            <div class="slider">
                <input type="radio" name="switch" id="btn1" checked>
                <input type="radio" name="switch" id="btn2">
                <input type="radio" name="switch" id="btn3">
                <input type="radio" name="switch" id="btn4">

                <div class="switch">
                    <label for="btn1"></label>
                    <label for="btn2"></label>
                    <label for="btn3"></label>
                    <label for="btn4"></label>
                </div>

                <div class="slider-inner">
                    <div class="slides">
                        <div class="slides slide1" id="diagram-readness"
                             style="width: 600px; height: 450px;"></div>
                        <div class="slides slide2" id="diagram-count"
                             style="width: 600px; height: 450px;"></div>
                        <div class="slides slide3" id="diagram-direction"
                             style="width: 600px; height: 450px;"></div>
                        <div class="slides slide3" id="diagram-position"
                             style="width: 600px; height: 450px;"></div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <div class="footer" th:replace="fragments/footer :: footer"></div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script th:inline="javascript">

    //function (1) --> Сourse readiness chart
    $(function () {
        Highcharts.chart('diagram-readness', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Сourse readiness chart'
            },
            xAxis: {
                categories: [[${map.keySet()}]],
                crosshair: true
            },
            yAxis: {
                min: 0,
                max: 100,
                title: {
                    text: 'Сourse readiness'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} K</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'Course',
                data: [[${map.values()}]]
            }]
        });
    });

    //function (2) --> Count of courses in readiness chart
    $(function () {

        Highcharts.chart('diagram-count', {
            chart: {
                type: 'pie'
            },
            title: {
                text: 'Count of courses in readiness chart'
            },
            xAxis: {
                categories: [[${map.keySet()}]],
                crosshair: true
            },
            yAxis: {
                min: 0,
                max: 100,
                title: {
                    text: 'Сourse readiness'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} K</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'Count',
                data: [
                    ['1-30', [[${readness1}]] ],
                    ['31-70', [[${readness2}]] ],
                    ['71-99', [[${readness3}]] ],
                    ['99-100', [[${readness4}]] ] ]

            }
            ]
        });
    })

    //function (3) -->
    $(function () {
        Highcharts.chart('diagram-direction', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Сount'
            },
            xAxis: {
                categories: [[${mapCount.keySet()}]],
                crosshair: true
            },
            yAxis: {
                min: 0,
                max: 30,
                title: {
                    text: 'Сourse readiness'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} K</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'Course',
                data: [[${mapCount.values()}]]
            }]
        });
    });

    //function (2) --> Count of courses in readiness chart
    $(function () {

        Highcharts.chart('diagram-position', {
            chart: {
                type: 'pie'
            },
            title: {
                text: 'Count of courses in readiness chart'
            },
            xAxis: {
                categories: [[${map.keySet()}]],
                crosshair: true
            },
            yAxis: {
                min: 0,
                max: 100,
                title: {
                    text: 'Сourse readiness'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} K</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'Count',
                data: [
                    ['Бакалавры', [[${postion1}]] ],
                    ['Специалисты', [[${postion2}]] ],
                    ['Магистры', [[${postion3}]] ],
                    ['Аспиранты', [[${postion4}]] ],
                    ['Преподаватели', [[${postion5}]] ],
                    ['Ст. преподаватели', [[${postion6}]] ],
                    ['Доцент', [[${postion7}]] ],
                    ['Профессор', [[${postion8}]] ] ]
            }
            ]
        });
    })

</script>
</body>
</html>