<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">
    <div class="main-wrap">
        <div th:replace="fragments/header :: header"></div>
        <div class="window">
            <table class="table table-bordered table-hover horizontal-align">
                <thead>
                <tr>
                    <th style="width: 50px">Id</th>
                    <th style="width: 200px">Cipher</th>
                    <th style="width: 300px">Title</th>
                    <th style="width: 140px">Button</th>
                </tr>
                </thead>
            </table>
            <form class="form-horizontal" th:object="${direction}" th:action="@{/update}" name="edit_form"
                  id="edit_form"
                  method="post" role="form">
                <div class="form-group">
                    <input class="form-control form-control_id" type="text" id="id" th:value="*{id}" th:name="id"/>
                    <input class="form-control form-control_cipher" type="text" id="cipher" th:value="*{cipher}"
                           th:name="cipher"/>
                    <input class="form-control form-control_title" type="text" id="title" th:value="*{title}"
                           th:name="title"/>
                </div>
                <button onclick="dir" type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    <div class="footer" th:replace="fragments/footer :: footer"></div>
</div>

<script>
    function dir() {
        $.ajax({
            method: 'POST',
            data: {},
            url: 'http://localhost:8080/directions'
        });
    }
</script>
</body>
</html>