<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<div class="wrapper" th:fragment="direction">
    <form class="form-horizontal form-add-directions" th:action="@{/directions/new}" name="input_form" id="input_form"
          method="post" role="form">
        <a th:href="@{'/directions/createExcel'}" class="add excel">
            <img src="../../../img/excel.jpg" alt="excel"/>
        </a>
        <div class="form-group">
            <input type="text" class="form-control form-control_200px" id="" th:name="cipher"
                   placeholder="  Шифр" maxlength="100"/>
            <input type="text" class="form-control form-control_300px" id="" th:name="title"
                   placeholder="  Название" maxlength="100"/>
            <select required th:name="institute" id="select" class="form-control form-control_300px">
                <option th:each="institute : ${institutes}"
                        th:value="${institute.id}"
                        th:text="${institute.title}">
                </option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Добавить</button>
    </form>
    <table class="table table-directions">
        <thead>
        <tr>
            <th style="width: 50px">№</th>
            <th style="width: 200px">Шифр</th>
            <th style="width: 300px">Название</th>
            <th style="width: 300px">Институт</th>
            <th style="width: 80px">Изменить</th>
            <th style="width: 80px">Удалить</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="direction : ${directions}">
            <td class="table-column" th:text="${directionStat.count}"></td>
            <td class="table-column" th:text="${direction.cipher}"></td>
            <td class="table-column" th:text="${direction.title}"></td>
            <td class="table-column" th:text="${direction.institute.title}"></td>
            <td class="table-column"><a th:href="@{'/directions/edit/{id}'(id=${direction.id})}"><i class="fa fa-edit"
                                                                                                    style="font-size:20px"></i></a>
            </td>
            <td class="table-column"><a th:href="@{'/directions/delete/{id}'(id=${direction.id})}"><i
                    class="fa fa-trash" style="font-size:20px"></i></a></td>
        </tr>
        </tbody>
    </table>
</div>
</html>